* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFEDF5;
}

div.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}

div.nav div {
    flex-shrink: 0;
}

div.nav #nav_1 {
    padding-right: 20px;
}

div.nav #nav_2 {
    display: flex;
    align-items: center;
}

div.nav #nav_2 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

div.nav #nav_2 a:hover {
    color: #FFA0B1;

}

div.nav #nav_2 #nav_2_yinyueguan {
    background-color: #FDCBE6;
    color: white;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.nav #nav_3 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 10px;
}

div.nav #nav_3 a:hover {
    color: #FFA0B1;

}

div.nav #nav_4 a {
    margin: 5px;
    background-color: #FDCBE6;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

div.nav #nav_4 a:hover {
    background-color: #FFA0B1;   
}

div.nav #nav_5 a {
    margin: 5px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

div.nav #nav_5 a:hover {
    background-color: gainsboro;   
}

div.nav_se {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

div.nav_se div.nav_se_1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.nav_se div.nav_se_1 a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
}

div.nav_se div.nav_se_1 a:hover {
    color: #FFA0B1;

}

div.container {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #FFEDF5, white);
}

div.container div.ctr_title {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 8px;
}

div.container div.nav_se_1 {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.container div.nav_se_1 a {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 0;
}

div.container div.nav_se_1 a:hover {
    color: #FFA0B1;

}

div.nav_se_1 a.nav_se_1_nohover {
    color: #FFA0B1 !important;
}

div.mixdisplay {
    display: flex;
    justify-content: center;
}

div.mixdisplay_1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img.mixdisplay_1_img {
    height: 230px;
}

img.mixdisplay_1_img:hover {
    height: 230px;
    box-shadow:10px 8px 10px #909090;
    transition:box-shadow 0.3s ease-in-out;
}

div.mixdisplay_1_quo a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

div.mixdisplay_1_quo a:hover {
    color: #FFA0B1;
}

div.mixdisplay_1_num {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: normal;
}

div.displaytrack {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.displaytrack_1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
}

div.displaytrack_1 div {
    flex-shrink: 0;
}

img.displaytrack_1_img {
    height: 100px;
    margin-right: 5px;
}

img.displaytrack_1_img:hover {
    filter: brightness(0.75);
    transition:filter 0.3s ease-in-out;
}

div.displaytrack_1_name {
    flex-shrink: 0;
}

div.displaytrack_1_name a {
    padding-left: 5px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

div.displaytrack_1_name a:hover {
    color: #FFA0B1;
}

div.displaytrack_1_pdr {
    flex-shrink: 0;
}

div.displaytrack_1_pdr a {
    padding-left: 5px;
    padding-right: 20px;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    flex-shrink: 0;
}

div.displaytrack_1_pdr a:hover {
    color: #FFA0B1;
}

div.displaytrack_1_time {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}

div.ad_img {
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;
}

img.ad_img_1 {
    margin-left: 10px;
    margin-right: 10px;
}