body{
    background-color: pink;
}
hr{
    height: 4px;
    background-color: gainsboro;
}
p{
    color: ;
}
<style type="text/css">
            body{background-color: pink;}
            hr{height: 4px; background-color: gainsboro;}
            p{color: blue;}
            a{color: purple; font-style: italic; font-weight: bold;}
            b{color: red;}
        </style>