body{
    background-color: pink;
}
hr{
    height: 4px;
    background-color: gainsboro;
}
p{
    color: blue;
    tex
}
a{
    color: purple;
    font-style: italic;
    font-weight: bold;
}
b{
    color: red;
}
