/*margin+border+padding+width=total width of a box.*/
body {
    background-color: pink;
}
hr {
    height: 4px;
    background-color: gainsboro;
}
p {
    color: blue;
    text-indent: 2em;
}
a {
    color: purple;
    font-style: italic;
    font-weight: bold;
}
b {
    color: red;
}
h1 {
    text-align: center;
}
p.quote {
    font-family: SimSun;
    font-style: oblique;
    font-weight: bold;
    font-size: small;
    color: gainsboro;
    text-decoration: underline;
    text-shadow: 5px 2px 4px black;
}
a.alignright{
    font-style: normal;
}
table.center{
    margin: auto;
    border: 1px solid black;
    height: 150px;
    padding: 2;
}
td.top {
    vertical-align: top;
    border: 1px solid black;
}
td.middle {
    vertical-align: middle;
    border: 1px solid black;
}
td.bottom {
    vertical-align: bottom;
    border: 1px solid black;
}
img {
    margin: auto;
}
h1#WelcomeHeading{
    letter-spacing: 16px;
}
h2{
    letter-spacing: -6px;
}